<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Prediction</title>
</head>
<h1 align="center">BOSTON HOUSE PRICE PREDICTION</h1>
<body>
    <form action="{{url_for('linreg')}}" method="POST">
    <fieldset>
        <legend>Input values:</legend> 
        <br> CRIM :
        <input name="CRIM" type="number" required step="any">
        <br>
        <br> ZN :
        <input name="ZN" type="number" required step="any">
        <br>
        <br> INDUS :
        <input name="INDUS" type="number" required step="any">
        <br>
        <br> CHAS :
        <input name="CHAS" type="number" required step="any">
        <br>
        <br> NOX :
        <input name="NOX" type="number" required step="any">
        <br>
        <br> RM :   
        <input name="RM" type="number" required step="any">
        <br>
        <br> AGE :
        <input name="AGE" type="number" required step="any">
        <br>
        <br> DIS :
        <input name="DIS" type="number" required step="any">
        <br>
        <br> RAD :
        <input name="RAD" type="number" required step="any">
        <br>
        <br> TAX :
        <input name="TAX" type="number" required step="any">
        <br>
        <br> PTRATIO :
        <input name="PTRATIO" type="number" required step="any">
        <br>
        <br> B :
        <input name="B" type="number" required step="any">
        <br>
        <br> LSTAT :
        <input name="LSTAT" type="number" required step="any">
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    <br>Predicted Output :
    {{result}}
</div>

</body>
</html>
